html {
    font-size: 16px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: rgba(85, 85, 85, 0.5);
    border-radius: 50%;
    filter: blur(100px);
    transform: translate(-50%, -50%);
    animation: glowAnimation 10s infinite ease-in-out;
    z-index: -1;
}

@keyframes glowAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-45%, -55%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

button {
    margin-top: 20px;
    font-size: 1.1rem;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 300px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

button:hover {
    background-color: #5b5b5b;
}
